<h2>Admin Paneli</h2>

<ul>
    <li><a href="@Url.Action("KullaniciListesi", "Admin")">Kullanıcı Listesi</a></li>
    <li><a href="@Url.Action("BolumListesi", "Admin")">Bölüm Listesi</a></li>
    <li><a href="@Url.Action("NobetListesi", "Admin")">Nöbet Listesi</a></li>
    <li><a href="@Url.Action("DuyuruListesi", "Admin")">Duyuru Listesi</a></li>
</ul>
