@{
    ViewData["Title"] = "Home Page";
}


<div class="list-group">

    <ul>
        <a class="list-group-item list-group-item-action bg-gradient" href="@Url.Action("AcilDuyuruGoruntule","Common")">ACIL Duyuru Listesi</a>
    </ul>
</div>